<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    
</head>
<body>
    <link href="../Styles/bootstrap.css" rel="stylesheet" />
    <div id="NavBar"></div>
    <div class="jumbotron text-center">
        <h1>The A-mazing Game!</h1>
        <p>Play the A-mazing game online!</p>
        <p>Play against players from all over the world!</p>
    </div>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/jquery.NavBarLoader.js"></script>
</body>
</html>