<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/jquery-3.2.1.min.js"></script>
    <script src="../Scripts/jquery.NavBarLoader.js"></script>
    <script src="../Scripts/jquery.userRank.js"></script>
</head>
<body>
    <div id="NavBar"></div>
    <link href="../Styles/bootstrap.css" rel="stylesheet" />
    <link href="../Styles/Loader.css" rel="stylesheet" />
    <h1>User Ranking</h1>
    <div>
        <table id="usersTable" class="table">
            <tr>
                <th>Rank</th>
                <th>UserName</th>
                <th>Wins</th>
                <th>Losses</th>
            </tr>
            <tr id="fromTable" />
        </table>
        <div class="loader" style="display:none"></div>
    </div>
</body>
</html>